@import "tailwindcss";

.stroke-animate {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: dash 0.6s ease-out forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }